<div>
  <p><%= @place.name %> <%= @place.geo %> <%= link_to '<span class="fa fa-edit">'.html_safe, edit_place_path(@place)  %></p>
  <div class="row">
    <% @place.images.each do |i| %>
      <div class="col s3">
        <% url = "https://drive.google.com/uc?id=" + i.drive_url %>
        <%= link_to url do %>
          <%= image_tag url, style: "width:200px", class: "image-hover" %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
