<!DOCTYPE html>
<html>
  <head>
    <title>UsMemories</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper row">
        <div class="col s12">
          <%= image_tag "/logo.png", style: "width:50px;margin-top:7px;margin-right:5px" %>
          <%= link_to "UsMemories", root_path, class: 'brand-logo' %>
          <ul class="right hide-on-med-and-down">
            <li>
              <%= link_to 'Xi <i class="fa fa-heart"></i> Julie'.html_safe, static_pages_blog_path %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
